name: Code Audit

on: pull_request

jobs:
  audit:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions: {}
    strategy:
      matrix:
        node-version: [ '18', '20', '22' ]
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Use dependencies cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Install dependencies
        run: npm ci --ignore-scripts --no-audit --no-fund

      - name: Update CSS properties
        if: contains(github.head_ref, 'mdn-browser-compat-data')
        run: npm run scrape

      - run: npm run test:ci
